BasedOnStyle: Microsoft
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeLambdaBody: false
  BeforeCatch: false
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  SplitEmptyFunction: false
  AfterFunction: false
  BeforeElse: false
  AfterControlStatement: Never
AllowShortNamespacesOnASingleLine: true
SpaceBeforeCtorInitializerColon: true
IndentWidth: 4
UseTab: Always
AccessModifierOffset: -4
ColumnLimit: 170
ObjCBinPackProtocolList: Never
BinPackParameters: OnePerLine
AllowShortBlocksOnASingleLine: Empty
BreakConstructorInitializers: AfterColon
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: Never
BinPackArguments: false
BitFieldColonSpacing: None
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterComma
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
SpaceInEmptyBlock: true
Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
CompactNamespaces: true

