[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
