[submodule "KDDockWidgets"]
	path = external/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "wasmtime"]
	path = external/wasmtime
	url = https://github.com/bytecodealliance/wasmtime
