[submodule "KDDockWidgets"]
	path = external/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "cpplocate"]
	path = external/cpplocate
	url = https://github.com/cginternals/cpplocate.git
[submodule "external/JSON"]
	path = external/JSON
	url = https://github.com/nlohmann/json
